# LangSmith
LANGCHAIN_TRACING_V2=True
LANGCHAIN_API_KEY=<your_langsmith_api_key>
LANGCHAIN_PROJECT=capstone-ai

SEARCH_PROVIDER=tavily
TAVILY_API_KEY=<your_tavily_api_key>
OPENAI_API_KEY=<your_openai_api_key>
OPENAI_SEARCH_MODEL=gpt-4o-mini
DATABASE_URL=mysql+aiomysql://<user>:<password>@<host>:3306/<db_name>
